<h1 id="javascript-amd-commonjs">Javascript模块规范: AMD\CommonJS</h1>
<h2 id="amd">AMD</h2>
<pre><code>The Asynchronous Module Definition
</code></pre><ul>
<li>实现<ul>
<li>RequireJS</li>
</ul>
</li>
</ul>
<h2 id="commonjs">CommonJS</h2>
<ul>
<li>实现<ul>
<li>Browserify </li>
<li>Node.js</li>
</ul>
</li>
</ul>
<h2 id="-">区别</h2>
<ul>
<li>加载方式<ul>
<li>CommonJS规范加载模块是同步的</li>
<li>AMD规范则是非同步加载模块，允许指定回调函数</li>
</ul>
</li>
</ul>
<h2 id="-">引用</h2>
<blockquote>
<p><a href="https://github.com/amdjs/amdjs-api/blob/master/AMD.md">AMD</a></p>
<blockquote>
<p><a href="http://www.ruanyifeng.com/blog/2012/10/asynchronous_module_definition.html">Javascript模块化编程（二）：AMD规范</a></p>
</blockquote>
<p><a href="http://wiki.commonjs.org/wiki/Modules/1.1">CommonJS</a></p>
<blockquote>
<p><a href="http://www.ruanyifeng.com/blog/2015/05/commonjs-in-browser.html">浏览器加载 CommonJS 模块的原理与实现</a></p>
</blockquote>
<p><a href="http://addyosmani.com/writing-modular-js/">Writing Modular JavaScript With AMD, CommonJS &amp; ES Harmony</a></p>
</blockquote>
