<h1 id="docker">Docker</h1>
<h2 id="table-of-contents">Table of Contents</h2>
<ul>
<li><a href="#Docker的安装">Docker 安装</a></li>
<li><a href="#自动化创建镜像">自动化创建镜像</a></li>
<li><a href="#镜像的使用与运行">镜像的使用与运行</a></li>
<li><a href="#写在最后">写在最后</a></li>
</ul>
<h2 id="docker-">Docker的安装</h2>
<p>需要注意安装Docker的主机系统要为<strong>64位且允许创建docker0虚拟网桥</strong>。</p>
<p>安装成功后，可以运行以下语句检查是否安装成功:</p>
<pre><code class="lang-Bash">sudo docker -v
</code></pre>
<p>运行以下语句，检查Docker是否正常运行:</p>
<pre><code class="lang-Bash">sudo service docker status
</code></pre>
<blockquote>
<p><a href="https://docs.docker.com/installation/ubuntulinux/">Ubuntu安装可参考这里</a></p>
</blockquote>
<h2 id="-">自动化创建镜像</h2>
<p>利用DockerHub与GitHub进行镜像的自动化创建，需要在Github下创建DockerFile文件，并在DockerHub指定DockerFile文件的位置（默认为根目录&quot;/&quot;）。</p>
<p>DockerHub可以根据同一份GitHub上的代码构建不同的Tag（依据不同的分支，不同的DockerFile文件）。对于brickyard项目，一个镜像可以创建qiji-admin, qiji-portal, qiji-gateway等不同的Tag，方便部署与运行。</p>
<p>创建DockerFile的时候，<strong>需要注意依赖的安装要自动化，尽量避免人工干扰</strong>，以下为DockerFile的例子:</p>
<pre><code class="lang-Bash">FROM node:0.12.5

RUN mkdir -p /usr/src/app
WORKDIR /usr/src/app

COPY . /usr/src/app
RUN npm install  &amp;&amp; \
    npm install gulp -g &amp;&amp; \
    npm install bower -g &amp;&amp; \
    bower install --allow-root
</code></pre>
<blockquote>
<p><a href="https://hub.docker.com/">DockerHub官网</a>
<a href="http://docs.docker.com/docker-hub/builds/">自动化创建镜像</a></p>
</blockquote>
<h2 id="-">镜像的使用与运行</h2>
<h4 id="-">拉取镜像</h4>
<p>通过 <code>docker pull REPOSITORY:TAG</code> 指定拉取哪个镜像的哪个Tag，不指定Tag时为latest，例如：</p>
<pre><code class="lang-Bash">docker pull z43811702/brickyard:latest
</code></pre>
<h4 id="-">启动容器</h4>
<p>可以使用<code>sudo docker run</code>并指定参数启动单个容器，也可以通过Docker-Compose组件启动多个容器, 创建docker-compose.xml文件并在该文件目录下执行<code>sudo docker-compose up</code>启动多个容器, 以下为docker-compose.xml的例子：</p>
<pre><code class="lang-xml">portal:
    image: z43811702/brickyard:latest
    volumes:
        - /home/DBJTECH/huangxuehua/docker/qiji/portal/log:/var/log
    command: /bin/bash -c &quot;gulp -p 80 --project qiji-portal &gt;&gt;/var/log/access.log 2&gt;&gt;/var/log/error.log&quot;
    ports:
        - &quot;80&quot;
    restart: always

admin:
    image: z43811702/brickyard:latest
    volumes:
        - /home/DBJTECH/huangxuehua/docker/qiji/admin/log:/var/log
        - /home/DBJTECH/huangxuehua/docker/qiji/admin/upload:/home/vhost/brickyard-upload
    command: /bin/bash -c &quot;gulp -p 80 --project qiji-admin &gt;&gt;/var/log/access.log 2&gt;&gt;/var/log/error.log&quot;
    ports:
        - &quot;80&quot;
    restart: always

gateway:
    image: z43811702/brickyard:latest
    volumes:
        - /home/DBJTECH/huangxuehua/docker/qiji/gateway/log:/var/log
    command: /bin/bash -c &quot;gulp start_gateway -g 80 --project gateway &gt;&gt;/var/log/access.log 2&gt;&gt;/var/log/error.log&quot;
    ports:
        - &quot;80/udp&quot;
    restart: always
</code></pre>
<ul>
<li>参数valumes指定容器挂载主机的目录，上面挂载的目的是：<ul>
<li>将每个项目容器内的日志文件输出供Bigborther直接访问；</li>
<li>Admin项目提供upload目录挂载，避免容器的关闭导致上传的文件掉失。</li>
</ul>
</li>
<li>参数restart: always，保证容器内应用异常退出时，能重新启动 。</li>
<li>参数ports，暴露容器内的端口，供外部主机映射</li>
<li>参数command，表示容器要执行的命令，这里启动项目的同时，将标准输出流与标准错误流重定向的指定的目录</li>
</ul>
<h4 id="-">其它常用命令</h4>
<ul>
<li><code>sudo docker images</code> 查看已下载的镜像</li>
<li><code>sudo docker logs #container_id</code> 查看指定容器的输出</li>
<li><code>sudo docker ps -a</code> 查看所有容器（包括已退出的容器）</li>
<li><code>sudo docker stats [#container_id]</code> 查看指定容器的运行情况（CPU占用，内存占用等）</li>
</ul>
<h2 id="-">写在最后</h2>
<h4 id="-docker-">关于Docker容器的日志</h4>
<p>一般情况下，Docker会将容器的输出流保存至<code>/var/lib/docker/containers/&lt;id&gt;</code>目录下，每条记录的格式为：</p>
<pre><code>{&quot;log&quot;:&quot;root@c835298de6dd:/# ls\r\n&quot;,&quot;stream&quot;:&quot;stdout&quot;,&quot;time&quot;:&quot;2014-03-14T22:15:15.155863426Z&quot;}
</code></pre><p>而这个目录也是<code>sudo docker logs #container_id</code>的数据源。如果不做任何处理，将导致日志无限增长。这里有几个关注点:</p>
<ul>
<li>每次重启或创建容器，<code>/var/lib/docker/containers/&lt;id&gt;</code>目录下的日志都会一并清除</li>
<li>每次重启或创建容器，容器的ID都是不固定，也就是日志的存放路径是不一致的。</li>
<li>如果创建容器时，将输出流重定向至文件，并挂载至主机目录下做管理，可以避免日志存放至<code>/var/lib/docker/containers/&lt;id&gt;</code>目录下，但会造成<code>sudo docker logs #container_id</code>命令无效</li>
</ul>
<h4 id="-docker-">关于项目的Docker化</h4>
<ul>
<li>对于brickyard项目，可以都考虑将portal与admin静态部份的部署交给Docker来做，加快容器的启动速度。</li>
<li>可以考虑将项目的配置文件挂载至主机目录，根据不同的环境（生产、测试、本地）与不同的项目，进行挂载运行</li>
<li>在某些场合下，可能需要对现网已运行的容器进行代码修改。可以考虑以下方法：<ul>
<li>根据原有镜像创建临时镜像。通过<code>sudo docker run -it z43811702:brickyard /bin/bash</code>启动容器，进入容器内修改需要的文件并退出，执行<code>sudo docker commit -m &quot;fix bug&quot; -a &quot;Ivan&quot; #container_id z43811702/sinatra:beta</code>，将该容器内的修改提供至镜像，最后通过新的镜像启动容器。</li>
<li>进入容器内部修改文件并重启容器。通过<code>sudo docker exec -it #container_id /bin/bash</code>进入容器内修改需要的文件并退出，执行<code>sudo docker restart #container_id</code>重启容器</li>
</ul>
</li>
</ul>
