<h1 id="es6-">ES6 异步编程</h1>
<h3 id="promise">Promise</h3>
<ul>
<li>Promise.prototype.then()</li>
<li>Promise.prototype.catch()</li>
<li>Promise.all()</li>
<li>Promise.race()</li>
<li>Promise.resolve()</li>
<li>Promise.reject()</li>
</ul>
<h3 id="generator">Generator</h3>
<h6 id="-demo">简单Demo</h6>
<pre><code class="lang-javascript">function* helloWorldGenerator() {
yield &#39;hello&#39;
yield &#39;world&#39;
return &#39;ending&#39;
}

var hw = helloWorldGenerator()

console.log(hw.next()) // { value: &#39;hello&#39;, done: false }
console.log(hw.next()) // { value: &#39;world&#39;, done: false }
console.log(hw.next()) // { value: &#39;ending&#39;, done: true }
console.log(hw.next()) // { value: undefined, done: true }
</code></pre>
<h6 id="yield-">yield语句</h6>
<pre><code>由于Generator函数返回的遍历器对象，只有调用next方法才会遍历下一个内部状态，所以其实提供了一种可以暂停执行的函数。yield语句就是暂停标志。遍历器对象的next方法的运行逻辑如下:
* 遇到yield语句，就暂停执行后面的操作，并将紧跟在yield后面的那个表达式的值，作为返回的对象的value属性值。

* 下一次调用next方法时，再继续往下执行，直到遇到下一个yield语句。

* 如果没有再遇到新的yield语句，就一直运行到函数结束，直到return语句为止，并将return语句后面的表达式的值，作为返回的对象的value属性值。

* 如果该函数没有return语句，则返回的对象的value属性值为undefined。
</code></pre><h6 id="next-">next方法的参数</h6>
<pre><code class="lang-javascript">function* f() {
    for (var i = 0; true; i++) {
        var reset = yield i
        if (reset) {
            i = -1
        }
    }
}

var g = f()

console.log(g.next()) // { value: 0, done: false }
console.log(g.next()) // { value: 1, done: false }
console.log(g.next(true)) // { value: 0, done: false }
</code></pre>
<p>第一次调用next时，程序运行至yield处停止，返回i的值(0)
第二次调用next时，程序运行至yield处，返回i的值(1)
第三次调用next时，yield赋值为true &gt;&gt; reset= true &gt;&gt; i = -1 + 1， 返回i的值(0)</p>
<pre><code class="lang-javascript">function* foo(x) {
  var y = 2 * (yield (x + 1));
  var z = yield (y / 3);
  return (x + y + z);
}

var it = foo(5);

console.log(it.next()) // { value:6, done:false }
console.log(it.next(12)) // var y = 2 * 12 -&gt; y / 3 - &gt; { value:8, done:false }
console.log(it.next(13)) // var z = 13 -&gt; x + y + z = 5 + 24 + 13 -&gt; { value:42, done:true }
</code></pre>
<h3 id="thunk">Thunk</h3>
<h3 id="co">CO</h3>
<h6 id="examples">Examples</h6>
<pre><code class="lang-javascript">var co = require(&#39;co&#39;)

co(function*() {
    // resolve multiple promises in parallel
    var a = yield Promise.resolve(1)
    var b = yield Promise.resolve(2)
    var c = yield Promise.resolve(3)
    var res = [a, b, c]
    console.log(res) // =&gt; [1, 2, 3]
}).catch(onerror)

function onerror(err) {
    console.error(err.stack)
}
</code></pre>
<p>简单实现原理</p>
<pre><code class="lang-javascript">var co = function(gen) {
    return new Promise(function(resolve, reject) {
        gen = gen()

        onFulfilled()

        function onFulfilled(res) {
            next(gen.next(res))
        }

        function onRejected(err) {
            next(gen.throw(err))
        }

        function next(ret) {
            if (ret.done) {
                return resolve(ret.value)
            } else {
                ret.value.then(onFulfilled, onRejected)
            }
        }
    })
}
</code></pre>
<h3 id="-">引用</h3>
<blockquote>
<p><a href="http://es6.ruanyifeng.com/#docs/generator">Generator 函数</a></p>
<p><a href="https://github.com/tj/co">TJ Holowaychuk的CO库</a></p>
</blockquote>
