<h3 id="-">页面代码</h3>
<pre><code class="lang-javascript">&lt;!DOCTYPE html&gt;
&lt;html&gt;
    &lt;head&gt;
        &lt;title&gt;Test&lt;/title&gt;
        &lt;script type=&quot;text/javascript&quot;&gt;
            function test(data) {
                console.log(&#39;status = %s&#39;, data.status)
                console.log(&#39;data = %s&#39;, JSON.stringify(data.result))
            }
        &lt;/script&gt;
        &lt;script type=&quot;text/javascript&quot; src=&quot;http://api.map.baidu.com/geocoder/v2/?address=%E7%99%BE%E5%BA%A6%E5%A4%A7%E5%8E%A6&amp;output=json&amp;ak=81f0b3333061a2447465ab09b6382ae4&amp;callback=test&quot;&gt;&lt;/script&gt;
    &lt;/head&gt;
    &lt;body&gt;

    &lt;/body&gt;
&lt;/html&gt;
</code></pre>
<h3 id="-">服务器响应:</h3>
<pre><code class="lang-json">test&amp;&amp;test({&quot;status&quot;:0,&quot;result&quot;:{&quot;location&quot;:{&quot;lng&quot;:116.30783584945,&quot;lat&quot;:40.056876296398},&quot;precise&quot;:1,&quot;confidence&quot;:80,&quot;level&quot;:&quot;\u5546\u52a1\u5927\u53a6&quot;}})
</code></pre>
<h3 id="-">结论:</h3>
<ul>
<li>代码会马上执行，所以将会调用页面代码中定义的test函数</li>
<li>test函数需要在script脚本之前，否则可能由于加载顺序的不同而报test is undefined</li>
<li>怎么调用指定的callback，一定程度上由服务器决定，例如上述中返回了<code>test&amp;&amp;test(xxx)</code>，意思是当test存在则传入参数并执行test函数。同理，服务器也可以直接返回test(xxx)，区别不细说。</li>
</ul>
