<h2 id="sysctl">sysctl</h2>
<ul>
<li>net.core.rmem_default
  指定了接收套接字缓冲区大小的缺省值（以字节为单位）</li>
<li>net.core.rmem_max
  指定了接收套接字缓冲区大小的最大值（以字节为单位）</li>
<li>net.core.wmem_default
  指定了发送套接字缓冲区大小的缺省值（以字节为单位）</li>
<li>net.core.wmem_max
  指定了发送套接字缓冲区大小的最大值（以字节为单位）</li>
<li>net.core.netdev_max_backlog
该文件表示在每个网络接口接收数据包的速率比内核处理这些包的速率快时，允许送到队列的数据包的最大数目</li>
<li>net.ipv4.udp_mem</li>
<li>net.ipv4.udp_rmem_min</li>
<li>net.ipv4.udp_wmem_min</li>
</ul>
<h2 id="netstat-s-udp">netstat -s --udp</h2>
<h2 id="sudo-sysctl-p">sudo sysctl -p</h2>
<blockquote>
<p><a href="https://answers.splunk.com/answers/7001/udp-drops-on-linux.html">UDP Drops on Linux</a>
<a href="http://www.goorockey.com/2014/07/20/high-concurrency-setting-for-nodejs/">Node.js高并发配置</a></p>
</blockquote>
